# common side
/.mixin.out/
/local/
/libraries/
/assets/
/null/
/logs/
/patchouli_books/
/screenshots/
/saves/
/versions/
/mods/
/crash-reports/
/CustomSkinLoader/
/shaderpacks/
/ambience_music/
/backups/
/config/spark/activity.json
/patchouli_data.json
/servers.dat_old
/servers.dat
/servers 2.dat_old
/usercache.json
/usernamecache.json
/options.txt
/optionsof.txt
/launcher_profiles.json
/servers 3.dat_old
/config/ambience-common.toml
/servers 4.dat_old
.DS_Store
/config/jei/bookmarks.ini
/optionsshaders.txt
*.bak
/.curseclient
/minecraftinstance.json
/kubejs/.idea
hs_err_*
replay_*
/config/inventoryprofilesnext/
config/.*
schematics/

# server side
/dumps/
/.arclight/
/CustomJAVA/
/plugins/
/spawn1/
/timings/
/world/
/zysj/
/arclight.conf
/arclight-forge-1.16.5-1.0.21-build289.jar
/banned-ips.json
/banned-players.json
/bukkit.yml
/commands.yml
/eula.txt
/forge-1.16.5-36.2.0.jar
/forge-1.16.5-36.2.0-installer.jar
/forge-1.16.5-36.2.0-installer.jar.log
/help.yml
/minecraft_server.1.16.5.jar
/ops.json
/paper.yml
/permissions.yml
/server.properties
/spigot.yml
/wepif.yml
/whitelist.json
/serverfiles/
/mods-server/
config/.twrp*

# editors
/.idea/
/resourcepacks/
.vscode

# python
__pycache__/
/runner.py
/runners/
/youdao_api.py
/google_api.py

/mec_package/
/confbackup/

/*.zip
/mods-server/
__pycache__/
config/.twrp*
/*.json

# MACOS Shit
.DS_Store
*.icloud
icon.png
rhino.local.properties
fancymenu_data/last_world.fmdata
kubejs/assets/ponderjs_generated/lang/en_us.json
config/embeddium-fingerprint.json
config/embeddium-mixins.properties
config/embeddium-options.json
config/oculus.properties
config/jei/ingredient-list-mod-sort-order.ini
config/jei/world/local/New_World__2/bookmarks.ini
config/world_preview/config.json
config/world_preview/missing-colors.json
config/world_preview/missing-structures.json
config/world_preview/renderConfig.json
